@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: Poppins, sans-serif;
  color: #040404;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.item-name {
  -webkit-line-clamp: 2;
}

.truncate-2-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
